.inisiator {
	margin-top: 30px;
	width: 150px;
	height: 150px;
}

.btn-primary-raised {
	box-shadow: 0 3px 0 0 #FF8F00;
}

.btn-primary {
	background: #FFA000;
	color: #ffffff;
}

.btn-primary:hover {
	background: #FFA000;
	color: #ffffff;
}

.btn-apply {
	background: #000;
	color: #ffffff;
}

.btn-apply:hover {
	background: #000;
	color: #ffffff;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	letter-spacing: 1px;
}

i.greeny { color: #1abc9c !important; }

.profile {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
	border-radius: 8px;
}

i.tabs-icon {
	color: #fff !important;
}

.footer-icons {
	float: right;
}

i.fa {
	padding: 10px;
	color:#000;
}